@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Strona główna";
}

<div class="jumbotron">
    <h1>Witaj w Coffee Shop!</h1>
    <p>Najlepsze kawy w mieście.</p>
    <a class="btn btn-primary" href="@Url.Action("Index", "Products")">Zobacz ofertę</a>
</div>